:root {
  --primary-1: #2196F3; 
  --primary-2: #2196F3;
  --primary-3: #42A5F5;
  --primary-dark-1: #9C27B0;
  --primary-dark-2: #AB47BC;
  --primary-dark-3: #BA68C8;
  
}

/* var.css */
:root {
  --vp-c-brand-1: var(--primary-1);
  --vp-c-brand-2: var(--primary-2);
  --vp-c-brand-3: var(--primary-3);

  mark {
    background-color:  #FFEE58;
  }

}

.dark {
  --vp-c-brand-1: var(--primary-dark-3);
  --vp-c-brand-2: var(--primary-dark-2);
  --vp-c-brand-3: var(--primary-dark-1);
  
  mark {
    background-color: #FFFF00;
  }

}

/* 以前的vp-c-brand已弃用 */

:root {
  /* hero标题渐变色 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg,
      #bd34fe,
      #41d1ff);

  /*hero logo背景渐变色 */
  --vp-home-hero-image-background-image: linear-gradient(-45deg,
      #bd34fe 50%,
      #47caff 50%);
  --vp-home-hero-image-filter: blur(40px);
}

/* 也可自行单独修改brand按钮 */
/* :root {
  --vp-button-brand-border: #F6CEEC;
  --vp-button-brand-text: #F6CEEC;
  --vp-button-brand-bg: #D939CD;

  --vp-button-brand-hover-border: #F6CEEC;
  --vp-button-brand-hover-text: #fff;
  --vp-button-brand-hover-bg: #D939CD;

  --vp-button-brand-active-border: #F6CEEC;
} */
